<h1>Authentication</h1>

<p>Enter the Teacher's password:</p>

<input id="teacher_password" name="clicker[password]" size="30" type="text" />

<%= link_to 'Submit', '/clickers/auth' %> <br /> 

<%= link_to 'Home', '/clickers/' %>

<br /><br /><br />
Notes: Currently this function is not available.<br /> 
Temporarily, link to Management is added for testing purposes. <br /> 
<%= link_to 'Management', '/clickers/management' %> <br /> 




