<h1>Management Page</h1>


<%= link_to 'List Questions', questions_path %> <br />
<%= link_to 'Reset Password', '/clickers/reset_pwd' %> <br />
<%= link_to 'View Report', '/clickers/report' %>
<%= link_to 'Home', '/clickers/' %>

