<h1>Password Setting</h1>

<p>Enter the current password:</p>
<input id="current_password" name="clicker[cur_password]" size="30" type="text" /><br />

<p>Enter a new password:</p>
<input id="new_password" name="clicker[new_password]" size="30" type="text" /><br />

<p>Re-enter the new password:</p>
<input id="confirm_password" name="clicker[confirm_password]" size="30" type="text" /><br />
<br />

<%= link_to 'Management', '/clickers/management' %>
<%= link_to 'Home', '/clickers/' %>

